In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("us_babynames/us_babynames_by_year/yob2014.csv",header=None)

In [9]:
df

          0  1    2
0      Emma  F  500
1    Olivia  F  400
2    Sophia  F  300
3  Isabella  F  200
4       Ava  F  100
5      Noah  M  100
6      Liam  M   40
7     Mason  M   30
8     Jacob  M   20
9   William  M   10

In [ ]:
df2 = pd.read_csv("Names/data/")