In [1]:
import pandas as pd

In [4]:
exports = pd.read_csv("exports/exportdata.csv")

In [11]:
exports[exports.Exports.str.contains('fish')][exports.Exports.str.contains('nuts')]

/Users/krauss/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,Country,Exports,Value (dollars)
84,Guinea-Bissau,"fish, shrimp, cashews, peanuts, palm kernels, ...","$179,900,000"
131,Micronesia (Federated States of),"fish, sakau (kava), betel nuts, black pepper","$24,900,000"
152,Panama,"fruit and nuts, fish, iron and steel waste, wood","$18,070,000,000"
172,Senegal,"fish, groundnuts (peanuts), petroleum products...","$2,462,000,000"

In [14]:
weather = pd.read_csv("nc_weather/2012/weather-2012-01-01.csv")
weather.head(3)

,TimeEST,TemperatureF,Dew PointF,Humidity,Sea Level PressureIn,VisibilityMPH,Wind Direction,Wind SpeedMPH,Gust SpeedMPH,PrecipitationIn,Events,Conditions,WindDirDegrees,DateUTC
0,12:51 AM,39.2,33.8,81,30.15,10.0,Calm,Calm,-,NaN,NaN,Clear,0,2012-01-01 05:51:00
1,1:51 AM,39.2,33.8,81,30.16,10.0,Calm,Calm,-,NaN,NaN,Clear,0,2012-01-01 06:51:00
2,2:51 AM,39.0,34.0,82,30.15,10.0,Calm,Calm,-,NaN,NaN,Clear,0,2012-01-01 07:51:00

In [17]:
weather[weather.TemperatureF==weather.TemperatureF.max()]

,TimeEST,TemperatureF,Dew PointF,Humidity,Sea Level PressureIn,VisibilityMPH,Wind Direction,Wind SpeedMPH,Gust SpeedMPH,PrecipitationIn,Events,Conditions,WindDirDegrees,DateUTC
12,12:51 PM,66.9,37.9,34,29.98,10.0,SSW,17.3,25.3,NaN,NaN,Mostly Cloudy,210,2012-01-01 17:51:00
14,3:51 PM,66.9,44.1,44,29.87,10.0,SSW,16.1,24.2,NaN,NaN,Mostly Cloudy,200,2012-01-01 20:51:00