In [1]:
import pandas as pd

In [73]:
exports = pd.read_csv("exports/exportdata.csv")

In [76]:
len(exports[exports.Exports.str.contains('cocoa')])

17

In [14]:
weather = pd.read_csv("nc_weather/2012/weather-2012-01-01.csv")
weather.head(3)

,TimeEST,TemperatureF,Dew PointF,Humidity,Sea Level PressureIn,VisibilityMPH,Wind Direction,Wind SpeedMPH,Gust SpeedMPH,PrecipitationIn,Events,Conditions,WindDirDegrees,DateUTC
0,12:51 AM,39.2,33.8,81,30.15,10.0,Calm,Calm,-,NaN,NaN,Clear,0,2012-01-01 05:51:00
1,1:51 AM,39.2,33.8,81,30.16,10.0,Calm,Calm,-,NaN,NaN,Clear,0,2012-01-01 06:51:00
2,2:51 AM,39.0,34.0,82,30.15,10.0,Calm,Calm,-,NaN,NaN,Clear,0,2012-01-01 07:51:00

In [17]:
weather[weather.TemperatureF==weather.TemperatureF.max()]

,TimeEST,TemperatureF,Dew PointF,Humidity,Sea Level PressureIn,VisibilityMPH,Wind Direction,Wind SpeedMPH,Gust SpeedMPH,PrecipitationIn,Events,Conditions,WindDirDegrees,DateUTC
12,12:51 PM,66.9,37.9,34,29.98,10.0,SSW,17.3,25.3,NaN,NaN,Mostly Cloudy,210,2012-01-01 17:51:00
14,3:51 PM,66.9,44.1,44,29.87,10.0,SSW,16.1,24.2,NaN,NaN,Mostly Cloudy,200,2012-01-01 20:51:00

In [2]:
import glob
from pathlib import Path
import os

In [3]:
csvs = []

for n in range(2,6):
    csvs.extend(glob.glob(os.path.join(f"nc_weather/201{n}", "*.csv")))
    
df = pd.concat([pd.read_csv(f) for f in csvs], ignore_index=True)
df.head(3)

,TimeEST,TemperatureF,Dew PointF,Humidity,Sea Level PressureIn,VisibilityMPH,Wind Direction,Wind SpeedMPH,Gust SpeedMPH,PrecipitationIn,Events,Conditions,WindDirDegrees,DateUTC,TimeEDT
0,12:51 AM,43.0,28.0,56.0,30.32,10.0,NNE,4.6,-,NaN,NaN,Clear,30,2012-03-10 05:51:00,NaN
1,1:51 AM,43.0,26.1,51.0,30.33,10.0,NNW,3.5,-,NaN,NaN,Clear,330,2012-03-10 06:51:00,NaN
2,2:51 AM,43.0,24.1,47.0,30.34,10.0,North,4.6,-,NaN,NaN,Clear,360,2012-03-10 07:51:00,NaN

In [37]:
#pd.to_datetime(df.DateUTC)
df["DateUTC"] = pd.to_datetime(df.DateUTC, format="%Y-%m-%d")

In [38]:
datefrom = pd.to_datetime("2014-01-01")
dateto = pd.to_datetime("2014-01-03")

mask1 = df["DateUTC"].dt.date >= datefrom
mask2 = df["DateUTC"].dt.date <= dateto

tmp = df[mask1 & mask2]["DateUTC"].dt.date.unique()

In [39]:
for day in tmp:
    print(df[df["DateUTC"].dt.date == day].TemperatureF.min())

30.0
37.0
23.0

In [44]:
tmp = df[df["DateUTC"].dt.date == pd.to_datetime("2014-05-01")]#, format="%Y-%m-%d")]

In [46]:
tmp.TemperatureF.min()

68.0

In [53]:
df[(df["DateUTC"].dt.year == 2014) & (df.TemperatureF > -9999)].TemperatureF.min()

7.0

In [54]:
tmp = df[df["DateUTC"].dt.date == pd.to_datetime("2014-04-01")]

In [56]:
tmp[tmp.TemperatureF == tmp.TemperatureF.min()].DateUTC

27844   2014-04-01 10:51:00
Name: DateUTC, dtype: datetime64[ns]

In [79]:
csv = pd.read_csv("nc_weather/2014/weather-2014-07-22.csv")

In [80]:
csv[csv.Humidity==csv.Humidity.min()].DateUTC

21    2014-07-22 20:51:00
22    2014-07-22 21:51:00
Name: DateUTC, dtype: object

In [81]:
csvs = []
csvs.extend(glob.glob(os.path.join(f"nc_weather/2013", "*.csv")))

In [82]:
df2013 = pd.concat([pd.read_csv(f) for f in csvs], ignore_index=True)

In [83]:
df2013.Humidity.min()

16

In [91]:
df2013[
    (df2013.TemperatureF > -9999.0) & (df2013.TemperatureF==df2013.TemperatureF.min())
][["TemperatureF","DateUTC"]]

      TemperatureF              DateUTC
5141          19.0  2013-11-25 10:51:00
5142          19.0  2013-11-25 11:51:00
5762          19.0  2013-01-23 10:51:00
5763          19.0  2013-01-23 11:51:00
5764          19.0  2013-01-23 12:51:00

In [87]:
csv = pd.read_csv("nc_weather/2013/weather-2013-09-02.csv")

In [88]:
csv[csv.TemperatureF > -9999.0].TemperatureF.mean()

77.12962962962963

In [72]:
csv[(csv.TemperatureF > -9999.0) & (csv.Humidity>=80)].TemperatureF.mean()

56.0